:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --background-color-dark: #2f303a;
  --white-color: #ffffff;
  --background-color-light: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: var(--title-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Хедер */

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > span {
  color: var(--hover-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus,
.activ-nav {
  color: var(--hover-color);
}

.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--hover-color);
}

/* Секция Герой */

.hero {
  background-color: var(--background-color-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
}

/* Особенности */

.visualy-hiden {
  display: none;
}

.special-item h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special-item p {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */

.business-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.team {
  background-color: var(--background-color-light);
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--white-color);
  width: 270px;
  height: 368px;
}

.team-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Футтер */

.footer {
  background-color: var(--background-color-dark);
}
.footer-logo {
  color: var(--white-color);
}

.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);
}
.address-item a:hover,
.address-item a:focus {
  color: var(--hover-color);
}

/* Портфолио */

/* Кнопки */

.filters-btn {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--background-color-light);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
}

.aktiv-btn {
  background: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши проекты */

.projects-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-item h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects-item p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
